@use '../core' as *;

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(28);
  background: $Cyan;
  text-decoration: none;
  color: $White; 
  font-weight: bold;
  line-height: rem(27);
  transition: all 0.2s ease;
  border: none;

  &:hover {
    border: 1px solid $Cyan;
    background: transparent;
    color: $Cyan;
  }

  &-navbar {
    font-size: rem(18);

    @media screen and (min-width: 650px) {
      font-size: rem(16);
    }
  }

  &-page {
    font-size: rem(17);

    @media screen and (min-width: 650px) {
      font-size: rem(20);
    }

    &.copied {
      background: $DarkViolet;
    }
  }
}