@use '../core' as *;

.shortener {
  background: $LightGray;
  margin-top: rem(168); //88px of distance + half of the size of the card

  &__content {
    margin: 0 24px;
    padding: 0 calc((100vw - 1158px) / 2);
    transform: translateY(rem(-80));
  }

  &__input-area {
    border-radius: em(10);
    padding: rem(24);
    display: flex;
    flex-direction: column;
    background: url('../assets/bg-shorten-mobile.svg') no-repeat, $DarkViolet;
    background-position: top right;

    input {
      height: rem(48);
      border-radius: em(5);
      border: 0;
      padding: 0 rem(16);
      font-weight: 500;
      font-size: rem(16);
      letter-spacing: 0.12px;
      color: $VeryDarkBlue;

      &.not-valid {
        border: 2px solid $Red;

        &::-webkit-input-placeholder {
          color: $Red;
        }
      }

      &::-webkit-input-placeholder {
        opacity: 0.5;
      }
    }

    label {
      color: $Red;
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(18);
      font-style: italic;
      letter-spacing: 0.1px;
      margin-top: rem(5);
      display: none;

      &.not-valid {
        display: block;
      }
    }

    button {
      margin-top: rem(16);
      min-height: rem(48);
      border-radius: em(5);
    }
  }

  &__output-area {
    list-style: none;

    li {
      background: $White;
      border-radius: em(5);
      margin-top: rem(24);

      .link {
        font-weight: 500;
        font-size: rem(16);
        word-wrap: break-word;
        display: block;
        line-height: rem(36);

        &.original {
          padding: rem(6) rem(16);
        }

        &.shortened {
          padding: rem(6) 0 rem(8);
          color: $Cyan;
        }
      }

      .new-data {
        padding: 0 rem(16) rem(16);
        border-top: 1px solid hsla(257, 8%, 63%, 0.25);
      
        button {
          width: 100%;
          min-height: rem(40);
          border-radius: em(5);

          &.copied {
            background: $DarkViolet;
          }
        }
      }
    }
  }
}