*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.active {
  overflow: hidden;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

body,
input,
textarea,
button {
  font-size: rem(18);
  font-family: 'Poppins', sans-serif;
}
