.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(28);
  background: $Cyan;
  text-decoration: none;
  color: $White; 
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(27);
  transition: all 0.2s ease;

  &:hover {
    // filter: brightness(1.05);
    border: 1px solid $Cyan;
    background: transparent;
    color: $Cyan;
  }

  @media screen and (min-width: 650px) {
    font-size: rem(16);
  }
}