.overlay {
  position: absolute;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, $DarkViolet);
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 650px) {
    display: none;
  }
}

.header {
  &__content {
    padding: rem(40) calc((100vw - 1156px) / 2) rem(25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 24px;
    z-index: 99;

    @media screen and (min-width: 650px) {
      padding: rem(55) calc((100vw - 1156px) / 2);
    }
  }

  &__mobile-toggler {
    display: block;
    cursor: pointer;

    &.active {
      .bar {
        background: $DarkViolet;

        &:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }

    @media screen and (min-width: 650px) {
      display: none;
    }

    .bar {
      display: block;
      width: 24px;
      height: 3px;
      background: $GrayishViolet;
      transition: opacity 0.2s ease, transform 0.2s ease, background 0.2s ease;
    }

    .bar + .bar {
      margin-top: 6px;
    }
  }

  &__navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: $DarkViolet;
    top: rem(98);
    border-radius: rem(10);
    padding: rem(40) rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, left 0.3s ease, visibility 0.3s ease;
    z-index: 99;

    &.active {
      left: 0;
      visibility: visible;
      opacity: 1;
    }

    @media screen and (min-width: 650px) {
      position: unset;
      flex-direction: row;
      background: transparent;
      visibility: visible;
      opacity: 1;
      justify-content: flex-end;
      padding: 0;
    }

    @media screen and (min-width: 968px) {
      justify-content: space-between;
      margin-left: rem(45);
    }

    .link {
      font-size: rem(18);
      color: $White;
      text-decoration: none;
      line-height: rem(27);
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: rem(30);
      transition: color 0.1s ease;

      @media screen and (min-width: 650px) {
        margin-bottom: 0;
        font-size: rem(16);
        color: $GrayishViolet;

        &:hover {
          color: $VeryDarkBlue;
        }
      }
    }

    @media screen and (min-width: 650px) {
      .link + .link {
        margin-left: rem(30);
      }
    }

    .signup-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid hsla(257, 8%, 63%, 1);
      width: 100%;

      @media screen and (min-width: 650px) {
        display: none;
      }

      @media screen and (min-width: 968px) {
        display: flex;
        border: 0;
        flex-direction: row;
        margin-left: auto;
        justify-content: flex-end;
      }

      a:first-child {
        margin-top: rem(30);
        margin-bottom: rem(30);

        @media screen and (min-width: 968px) {
          margin: 0 rem(40) 0;
        }
      }  

      .primary-btn {
        width: 100%;
        padding: 0.6em;

        @media screen and (min-width: 968px) {
          height: rem(42);
          width: rem(106);
        }
      }
    }
  }
}
